/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("./back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;

  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.list {
  display: grid;
  gap: 3rem 2rem;
  justify-items: auto;
}
.btn {
  background-color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 50%;
  width: 8rem;
  height: 2rem;
  border-radius: var(--radius);
  letter-spacing: 1px;
  border-style: hidden;
  background-color: rgb(235, 183, 88);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  cursor: pointer;
  /*padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  
  transition: var(--transition);
  border-radius: var(--radius); */
}
.btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.amount {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0.4rem 0.6rem;
  width: fit-content;
  min-width: 55%;
  height: 3rem;
  background-color: rgb(214, 188, 139);
}
.alert {
  display: none;
}
.alertsmall {
  display: inline-block;
  margin-top: 15%;

  color: #fff;
  background-color: var(--clr-gold);
  border-radius: 15%;
  padding: 1%;
  font-family: "Marck Script", cursive;
  font-size: 150%;
  width: fit-content;
  justify-content: space-around;
  transition: var(--transition);
}

/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  display: none;
}
.side {
  padding-top: 2rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar {
  margin-bottom: 4rem;
  display: grid;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
.bgg {
  height: fit-content;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #f8f8f8;
  /* border: 1px solid black; */
  opacity: 0.8;
}
.close {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.close:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.gbb {
  background-image: url("./header.jpg");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  margin-top: -5rem;
  font-weight: 300;
}
.sidebar-toggle {
  display: contents;
}
.but {
  border-style: hidden;
  background: transparent;
  cursor: pointer;
  color: var(--clr-gold);
}
.butt {
  border-style: hidden;

  color: var(--clr-gold);
}
.item-text {
  justify-content: space-between;
  column-gap: 10%;
  display: flex;
  margin-bottom: 0;
  padding-top: 1rem;
}
.form-btn {
  margin-left: 10%;
  font-weight: bold;
  background: transparent;
  border-color: transparent;
  height: 70%;
  width: fit-content;
  text-transform: capitalize;
  padding: 0;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
}
.form-btn:hover {
  border-radius: 10%;
  background: var(--clr-gold);
  color: var(--clr-white);
}

.form {
  border-style: hidden;
  cursor: pointer;
  background-color: rgba(151, 235, 214, 0.404);
  color: var(--clr-gold);
  width: 35%;
  height: 65%;
  padding: 3% 4%;
  color: var(--clr-gold);
  font-weight: bold;
  border-radius: 20%;
  font-size: medium;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media screen and (min-width: 768px) {
  .alertsmall {
    display: none;
  }
  .alert {
    display: inline;
    margin-top: 15%;
    margin-left: 2rem;
    float: right;
    color: #fff;
    background-color: var(--clr-gold);
    border-radius: 15%;
    padding: 1%;
    font-family: "Marck Script", cursive;
    font-size: 250%;
    width: 30%;
    justify-content: space-around;
    transition: var(--transition);
  }
  .close {
    display: none;
  }
  .btn-container {
    display: flex;
    margin-bottom: 4rem;
    justify-content: center;
  }
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
  .sidebar-toggle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
